.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width: 768px) {
  body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}
