.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: auto 3rem;
}

h3 {
  font-weight: 600;
  margin: 5% 0 0;
  text-align: center;
}

h1, h2, h3{
  color: hsl(210, 10%, 33%);
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.first-container {
  margin-top: 15%;
}

.card {
  margin: 25px 0;
}

@media only screen and (max-width: 768px) {
  p {
    color: hsl(201, 11%, 66%);
    font-size: 16px;
    text-align: center;
    margin-top: 7px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1, h2 {
    text-align: center;
  }


  .logo {
    margin-top: 20%;
  }

  .button {
    border-radius: 40px;
    border: none;
    color: #fff;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0;
    padding: 5% 20%;
  }

  .ios {
    background-color: hsl(171, 66%, 44%);
    filter: drop-shadow(3px 2px 4px hsl(171, 66%, 44%));
  }

  .android {
    background-color: hsl(233, 100%, 69%);
    filter: drop-shadow(3px 2px 4px hsl(233, 100%, 69%));
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 60%;
  }

  .tracking {
    margin: 10px 0 0 0;
  }

  .list-reasons img {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .testimonial {
    margin: 8rem 0;
  }

  .testimonial img {
    margin-bottom: 25%;
  }

  footer {
    background-color: hsl(0, 0%, 92%);
    width: 100%;
    height: 100%;
  }

  footer img {
    height: 15%;
    width: 15%;
    margin: 2rem 0;
  }

  footer p {
    color: hsl(210, 10%, 33%);
  }

}

@media screen and (min-width(1200px)) {

}